!!! strict

- var iterate_obj = function (next_element) {
  - var browser_tags = function (tag_list) {
    - for (var i = 0, il = tag_list.length; i < il; i++) {
      code #{ tag_list[i] }
    - }
  - }
  - for (var i = 0, il = next_element.length; i < il; i++) {
    .sub_container
      - for (var j = 0, jl = next_element[i].length; j < jl; j++) {
        - var color_code = next_element[i][j].id_list.length - min_headers || 1
        .tagbox(style="border:2px solid #" + fade_array[color_code])
          .header_link
            h4 [Show Headers]
          code= next_element[i][j].tag
          div.header_list.hidden
            hr
            - browser_tags(next_element[i][j].id_list)
      - }
      - if (next_element[i].children) {
        - iterate_obj(next_element[i].children)
      - }
  - }
- }

html(xmlns="http://www.w3.org/1999/xhtml",lang="en")
  head
    title User-Agent Scan - Results
    meta(http-equiv="Content-Type",content="text/html;charset=utf-8")
    link(rel="stylesheet", type="text/css", href="plates/compare.css")
    :javascript
      | var header_count = #{ header_count };
      | var min_headers = #{ min_headers };
  body
    #container
      #header_container
        h1 Comparison Results for:
        h2= tested_page
        h3 #{header_count} Headers checked. ${diff_pages} page(s) found.

      - if (redir_obj[0] !== undefined) {
        - iterate_obj(redir_obj);
        hr
      - }
      - iterate_obj(diff_obj)
    #copywrite
      p &copy; 2010 Paul Westin III. All rights reserved.
    script(type="text/javascript",src="plates/compare.js")
